:root {
    --page-color: #FFFFFF;
    --hero-color: #2E2F42;
    --logo-color: #4D5AE5;
    --color: #434455;
    --logo-background: #F4F4FD;
}

.main-page {}

.body {
    margin: 0 auto;
    font-family: "Roboto", sans-serif;
    background-color: #FFFFFF;
    color: #434455;
}
img {
    display: block;
}
p {
    padding: 0;
}

/* Resets */
h1,h2,h3,h4,h5, p, ul {
    margin: 0;
}
.list,
ul,
ol {
    list-style: none;
}
ul {
    padding: 0;
}

.link,
a {
    text-decoration: none;
    color: currentColor;
}

.btn,
button {
    font-family: inherit;
    cursor: pointer;
}

/*Base styles*/
.header {
    border-bottom: 1px solid #e7e9fc;
    background: #FFFFFF;
   
}

.container {

    padding: 0 15px;
}
.header-conteiner {
display: flex;
align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-right: 76px;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    padding-top: 24px;
        padding-bottom: 24px;

}

.header-logo-stydio {
    color: #2E2F42;
}

.header-list {
    display: flex;
    gap: 40px;
    list-style: none;

}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
   
}
.header-item-stydio {
padding-top: 24px;
    padding-bottom: 24px;
}
.header-item-stydio {
padding-top: 24px;
    padding-bottom: 24px;
}
.header-item-stydio {
    padding-top: 24px;
        padding-bottom: 24px;
}

.header-item-stydio:hover {
    text-decoration: none;
    color: #404bbf;
}

.header-item-stydio:focus {
    color: #404bbf;
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-item-stydio:hover {
    text-decoration: none;
    color: #404bbf;
}

.header-item-stydio:focus {
    color: #404bbf;
}

.header-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-item-stydio:hover {
    text-decoration: none;
    color: #404bbf;
}

.header-item-stydio:focus {
    color: #404bbf;
}

.address {
  margin-left: auto;
    font-style: normal;
}

.address-list {
    display: flex;
    gap: 40px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

.address-item {
    color: #404bbf;
}

.address-link {
    color: #434455;
    
}

.address-link:hover {
    color: #404bbf;
}

.address-link:focus {
    color: #404bbf;
}
.address-item {
    color: #404bbf;
}

.address-link {
}

/*Main block*/
.main {}

/*Hero image*/
.section-hero {
    background-color: #2e2f42;
    padding: 188px 0;
}

.container {}
.hero-title {
   font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
    
    max-width: 496px;
    margin: 0 auto;
    margin-bottom: 48px;


}

.hero-btn {
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #ffffff;
    background-color: #4D5AE5;
   padding: 16px 32px;
    display: block;
    min-width: 169px;
    height: 56px;
    border: none;
        border-radius: 4px;
    margin: 0 auto;
}
  

.hero-btn:hover {
    background-color: #404BBF;
}

.hero-btn:focus {
    background-color: #404BBF;
}


/*Section 1*/
.section {
padding: 120px 0;
background-color: #FFFFFF;
}
.container {

}
.visually-hidden {
position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
   


.section-list {
font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #2E2F42;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}


.section-item-hero {
width: calc((100% - 72px) / 4);
    
}

.section-title {
   
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.section-pr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*What are we doing section*/
.section-doing {
    padding: 120px 0;
    padding-bottom: 120px;
}

.container {

}
.section-doing-title {

    margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
   
}

.section-doing-list {
    gap: 24px;
    display: flex;
}
.section-doing-item {
width: calc((100% - 48px) / 3);
}

.section-doing-img {

    display: block;
}

/*Our Team section*/
.section-team {
    padding: 120px 0;
    background-color: #F4F4FD;
}

.section-team-our-title {
     margin-bottom: 72px;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
}

.section-team-list {
    display: flex;
    gap: 24px;
   
}

.section-team-item {
    width: 264px;
    width: calc((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF
}

.section-team-img {
    width: 264px;
    display: block;


}
.name {
    padding: 32px 16px;
}

.section-team-title {
    text-align: center;
    margin-bottom: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.section-team-pr {
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/*Footer*/
.footer {
    padding: 100px 0;
    background: #2E2F42;
}

.footer-link {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
    
}

.footer-link-stydio {
    color: #F4F4FD;
    display: inline-block;
}

.footer-pr {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}

/*Filters*/
.font-family {
    font-family: "Roboto", sans-serif;
    color: #434455;
}
.header {
    border-bottom: 1px solid #e7e9fc;
}
.container {

    width: 1158px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-nav {
display: flex;
align-items: center;
}
.header-logo {
margin-right: 76px;
}
.header-list {
display: flex;
gap: 40px;
}
.header-item-stydio {
padding: 24px 0;
}
.address-list {
display: flex;
gap: 40px;
}
.section-filters {
    padding-top: 96px;
        padding-bottom: 120px;
}
.container {}

.section-filters-list {
display: flex;
justify-content: center;
gap: 24px;
margin-bottom: 72px;
}

.section-filter-item {
   
}

.section-filters-btn {
    border-radius: 4px;
    padding: 12px 24px;
    border: 1px solid #e7e9fc;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #4d5ae5;
    background-color: #F4F4FD;
}

.section-filters-btn:hover {
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #404BBF;
}

.section-filters-btn:focus {
    border: 1px solid transparent;
    color: #FFFFFF;
    background-color: #404BBF;
}
.section-list-portfolio {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}



.section-item {
width: calc((100% - 48px) / 3);
}

.section-img {
    
    margin-bottom: 32px;
    }
    .img {
        display: block;
        max-width: 100%;
        height: auto;
    }
.name {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.section-title {
    margin-bottom: 8px;
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.section-pr {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}
 